<!-- About page -->
<div class="container-fluid work anchor_about" id="about">
  <div class="row" id="work">
    <div class="col-md-6 col-sm-6  col-xs-12">
      <div class="aboutTools">
      <!-- <h1>About page</h1> -->
        <h2>Welcome to my new blog site using the tools Ruby and Ruby on rails or simply Rails</h2>
        <h4>Just getting familiar with these tools</h4>
        <h4>This blog is build throught the exercises I do during my course at CareerFoundry</h4>
      </div>
    </div>
  </div>

  <div class="row" id="work">
    <div class="col-md-6 col-sm-6  col-xs-12">
      <div class="contact_Header">
        <!-- <h1>Contact Page</h1> -->
        <h1>My name : Yves the Bird</h1>

        <div class="myBackground">
          <h3>My background</h3>
            <div class="contact_page_indent">
              <p>I'm an IT professional working in the Information Technology
              domain for over 35 years.</p>
              <p>Worked my way up in the IT world, started as a programmer
              and now acting as Project Manager for more than 10 years.</p>
              <p>I'm now coming back to my roots and re-exploring the more
              creative aspect of the IT business and Web design and development
              is the perfect match for me.</p>
            </div>
        </div>
      </div>
      <div class="contact_email">
        <h4>You can reach me at this email address:
          <span class="rwd-line"><strong>loiseau.y@gmail.com</strong>
          </span>
        </h4>
      </div>

      <div class="contact_phone">
        <h4>Or by phone at:
        <span class="email_bold rwd-line"><strong>+1(514) 999-9999</strong></span>
        </h4>
      </div>
    </div>

    <div class="col-md-6 col-xs-12">
      <div>
        <%= image_tag("Photo_Linked_V1.jpg", size: "400x533", alt: "Edit Entry", class: "img-about img-responsive")%>
      </div>
    </div>
  </div>

  <div class="row" id="work">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <h2 class="contact_web_message">
        <strong>Now serving all of your web development needs</strong>
      </h2>
    </div>
  </div>
</div>

