<!-- <h1>Welcome to my blog - Interface Design Web discussions</h1> -->
<!-- <p>Find me in interfacedesignweb.ca</p> -->
<div class="container-fluid anchor-index" id="index">
  <div class="row">
    <div class="col-md-12 col-xs-12">
			<h1>Welcome to my blog</h1>
		</div>
	</div>

  <div class="row">
    <div class="col-md-12 col-xs-12">
    	<div class="golf-blog-text-box">
				<h2 class="golf-blog-title">My blog is about golf, my passion!!</h2>
				<h4 class="golf-blog">Never play enought,</h4>
				<h4 class="golf-blog">Winter is too long,</h4>
				<h4 class="golf-blog">Always ready for a game, (in my wife agrees!!)
        </h4>
				<h4 class="golf-blog">Love to play everywhere and experience new courses.
        </h4>
			</div>
	    <div class="enter-blog-button">
				<h3>Click to enter blog</h3>
	     	  <!-- Go back -->
			  <%= button_to "My blog", articles_path,
          class: 'btn btn-primary btn-sm inline', :method => :get %>
     	</div>
		  <div class="">
			</div>
    </div>
  </div>
</div>
