<!-- <h1>Welcome to my blog - Interface Design Web discussions</h1> -->
<!-- <p>Find me in interfacedesignweb.ca</p> -->
<h1>Welcome to my blog</h1>
<h2>To reaach me in private: www.interfacedesignweb.ca</h2>

