<!-- *********************************************************************** -->
<!-- Show 2 products per line -->
<div class="col-md-12 col-xs-12 article-row">
  <h2 class="article-title">Showing the article comments</h2>
  <h2 class="article-title"><%= articlecomment.comment %></h2>
    <h5 class="article-posted-by-info">Posted by:
      <%= articlecomment.posted_by %>
      <span>  /  <%= articlecomment.posted_date %> </span>
    </h5>

  <div class="article-details">
  </div>

</div>
